<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <img src="{{ site.baseurl }}/{{ site.logo }}" alt="Logo" style="max-height: 100px;">
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
    </div>
  </header>
  <div class="container">
    {{ content }}
  </div>
  <footer class="footer">
    <div class="container">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
      <p>Retrouvez-moi sur <a href="https://github.com/votre_utilisateur_github">GitHub</a></p>
      <p><a href="{{ site.baseurl }}/CV_22038.pdf">Télécharger mon CV</a></p>
      <p><a href="{{ site.baseurl }}/archive/main.zip">Télécharger le site au format ZIP</a></p>
    </div>
  </footer>
</body>
</html>
